server {
    listen      8080;
    server_name participant1.json-ledger-api.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_JSON_API_PORT_PREFIX}01;
        include    /etc/nginx/includes/cors-headers.conf;
    }
}

server {
    listen      8080 http2;
    server_name participant1.grpc-ledger-api.localhost;
    location / {
        grpc_pass grpc://canton:${CANTON_PARTICIPANT_LEDGER_API_PORT_PREFIX}01;
    }
}

server {
    listen 8080;
    server_name participant1.http-health-check.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_HTTP_HEALTHCHECK_PORT_PREFIX}01;
    }
}

server {
    listen 8080;
    server_name participant1.grpc-health-check.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_GRPC_HEALTHCHECK_PORT_PREFIX}01;
    }
}

server {
    listen 8080 http2;
    server_name participant1.admin-api.localhost;
    location / {
        grpc_pass grpc://canton:${CANTON_PARTICIPANT_ADMIN_API_PORT_PREFIX}01;
    }
}

server {
    listen 8080;
    server_name participant1.validator-api.localhost;
    location /api/validator {
        rewrite ^\/(.*) /$1 break;
        proxy_pass http://splice:${SPLICE_VALIDATOR_ADMIN_API_PORT_PREFIX}01/api/validator;
    }
}
