server {
    listen      8080;
    server_name participant4.json-ledger-api.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_JSON_API_PORT_PREFIX}04;
        include    /etc/nginx/includes/cors-headers.conf;
    }
}

server {
    listen      8080 http2;
    server_name participant4.grpc-ledger-api.localhost;
    location / {
        grpc_pass grpc://canton:${CANTON_PARTICIPANT_LEDGER_API_PORT_PREFIX}04;
    }
}

server {
    listen 8080;
    server_name participant4.http-health-check.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_HTTP_HEALTHCHECK_PORT_PREFIX}04;
    }
}

server {
    listen 8080;
    server_name participant4.grpc-health-check.localhost;
    location / {
        proxy_pass http://canton:${CANTON_PARTICIPANT_GRPC_HEALTHCHECK_PORT_PREFIX}04;
    }
}